In [26]:
#open a .txt file
########################################################################
with open("mydata/ex1data1.txt", mode = 'r', encoding='utf8') as myfile: 
        print(myfile.read())

The Harbin Institute of Technology was originally established in 1920 as the Harbin Sino-Russian School for Industry to educate railway engineers via a Russian method of instruction.
Students could select from two majors at the time: Railway Construction or Electric Mechanic Engineering.
On April 2, 1922, the school was renamed the Sino-Russian Industrial University.
The original two majors eventually developed into two major departments: the Railway Construction Department and the Electric Engineering Department.
Between 1925 and 1928 the University's Rector was Leonid Aleksandrovich Ustrugov, the Russian Deputy Minister of Railways under Nicholas II before the Russian Revolution and a key figure in the development of the Chinese Eastern Railway.

In [15]:
myfile.closed

True

In [18]:
#open a .csv file
######################################################
with open('mydata/shoppingdatapart.csv', 'r') as myfile:
    for line in myfile:
        print(line, end ='')

ID,Gender,Age,Annual income,Hometown,education level
1,1,53,135,1,1
2,2,22,147,4,1
3,2,34,188,2,2
4,2,58,141,5,4
5,1,68,81,2,4
6,2,26,169,3,4
7,1,59,83,3,4
8,2,52,119,5,1
9,2,18,114,1,1
10,2,65,60,4,1
11,2,27,170,3,2
12,1,36,118,1,2
13,2,22,86,2,4
14,2,48,75,4,1
15,2,28,127,2,3
16,2,64,176,2,1
17,1,19,78,1,1
18,2,43,114,1,3
19,2,65,107,5,4

In [19]:
import pandas as pd
shopData = pd.read_csv('mydata/shoppingdatapart.csv') 
shopData.head()

   ID  Gender  Age  Annual income  Hometown  education level
0   1       1   53            135         1                1
1   2       2   22            147         4                1
2   3       2   34            188         2                2
3   4       2   58            141         5                4
4   5       1   68             81         2                4

In [29]:
#open an excel file
###################################################
import pandas as pd
file = 'mydata/shopDataex.xlsx'
myfile = pd.ExcelFile(file) 
print(myfile.sheet_names) #printing out all the sheet names in the excel file
dataframe = myfile.parse('Sheet1') #extracting data from the first sheet as a dataframe
dataframe.head()

['Sheet1']

,Years of living in Beijing,Annual Credit card consumption,Astrological sign,Blood type,Height,Weight
0,31,0.0,1,4,159,62
1,20,11.0,1,1,175,64
2,28,21.4,9,1,151,49
3,10,26.0,3,3,161,50
4,9,20.0,4,4,167,69

In [31]:
#save this file to csv
dataframe.to_csv('mydata/myfile0.csv', index = False)

In [50]:
#open a pdf file
#########################################
import PyPDF2
pdfFileObj = open('mydata/transcript.pdf', 'rb')#pdf是二进制文件，read binary
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)
pdfReader.numPages
pageObj = pdfReader.getPage(0)
print(pageObj.extractText())
pdfFileObj.close()

Academic History***This is Not an Official Transcript***Create Date: 04/16/2018 19:20:24General Information Cumulative Summary  All credits are in quarter units. Cumulative summaries on this record may reflect adjustments for repeated coursesand/or other adjustments made in accordance with UCSD academic policies.UCSD Graduate Courses by TermTerm: Spring Qtr 2018 Term: Winter Qtr 2018 Term: Fall Qtr 2017 Student:Zhang, WeilunPID:A53239629Student Level:GRCollege:Graduate DivisionMajor:Engin Scis (Mechanical Engin)Intended Degree:Master of ScienceGrade OptionUC-Crdts AttmCrdts PssdUC-GPA CrdtsUC-Grade PointsUC-GPALetter28.0028.0028.00106.803.814TOTAL28.0028.0028.00106.803.814SubjectCourseCourse TitleUnitsGradePointsRepeatECE228ML for Physical Applications4.000.00ECE273Convex Optimization & Apps4.000.00MAE207Topics in Engineering ScienceBio-inspired mobile robotics4.000.00MAE247Coop Control/Multi-Agent Systm4.000.00Term Credits Passed:0.00Term GPA:0.000Term Grade Points:0.00Academic Status:Term GPA Credits:0.00SubjectCourseCourse TitleUnitsGradePointsRepeatMAE207Topics in Engineering ScienceSoft Robotics4.00A-14.80MAE280BLinear Control Design4.00A16.00MAE281ANonlinear Systems4.00B12.00Term Credits Passed:12.00Term GPA:3.566Term Grade Points:42.80Academic Status:Good StandingTerm GPA Credits:12.00SubjectCourseCourse TitleUnitsGradePointsRepeatMAE208Mathematics for Engineers4.00A16.00MAE209Cont Mechnc Appld to Med/Biogy4.00A16.00MAE280ALinear Systems Theory4.00A+16.00MAE283AParametric Ident/Theory&Method4.00A16.00Term Credits Passed:16.00Term GPA:4.000Term Grade Points:64.00Academic Status:Good StandingTerm GPA Credits:16.00Not an Official Transcriptpage 1 of

In [ ]:
#Save pdf file as csv
Text0 = pageObj.extractText()
print(Text0)
dataframe = Text0.parse()
dataframe.to_csv('mydata/pdf0.csv', index = False)

In [61]:
#Open docx file
################################################
import docx
doc = docx.Document('mydata/Proposal.docx')
print(len(doc.paragraphs))
print(doc.paragraphs[1].text)

22
Classify ships in San Francisco Bay using Planet satellite imagery

In [63]:
#Save docx file as csv
doc.save('doc0.csv')

In [74]:
#I cannot get access to a new api so I did this tutorial as exercise
import requests
url = 'https://sp0.baidu.com/8aQDcjqpAAV3otqbppnN2DJv/api.php?resource_id=6899&query=失信执行人名单&iname=中国银行'
resp = requests.get(url)
import json
data = json.loads(resp.text, encoding='gb18030')
data.keys()

dict_keys(['status', 't', 'set_cache_time', 'data'])

In [ ]:
result = data['data'][0]['result']
for i in range(len(result)):
        data = result[i]
        caseCode = data['caseCode']
        areaName = data['areaName']
        businessEntity = data['businessEntity']
        courtName = data['courtName']
        duty = data['duty']
        performance = data['performance']
        disruptTypeName = data['disruptTypeName']
        publishDate = data['publishDate']
        regDate = data['regDate']
        gistId = data['gistId']
        gistUnit = data['gistUnit']
        cardNum = data['cardNum']
        print('  '.join([caseCode, areaName, businessEntity, courtName, duty, performance, disruptTypeName, publishDate, regDate, gistId, gistUnit, cardNum]))